<div class="tweet-edit-container">
  <h2 class='edit-tweet-title'>Edit Tweet</h2>

  <%= form_with(model: @tweet, local: true) do |form| %>
    <% if @tweet.errors.any? %>
      <div class="tweet-error-explanation">
        <h2><%= pluralize(@tweet.errors.count, "error") %> prohibited this tweet from being saved:</h2>
        <ul>
        <% @tweet.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="tweet-field">
      <%= form.label :content, class: 'tweet-label' %><br />
      <%= form.text_area :content, class: 'tweet-textarea' %>
    </div>

    <div class="tweet-actions">
      <%= form.submit "Update Tweet", class: 'btn tweet-btn-primary' %>
    </div>
  <% end %>

  <%= link_to 'Back', tweets_path, class: 'tweet-back-link' %>
</div>

