<div class="tweet-detail-container">

  <h2 class="tweet-owner"><%= @tweet.user.username %>'s Tweet</h2>

  <div class="tweet-content-container">
    <p class="tweet-content">
      <%= @tweet.content %>
    </p>
    <div class="tweet-actions">
      <% if @tweet.user == current_user %>
        <%= link_to 'Edit', edit_tweet_path(@tweet), class: 'tweet-action-edit' %> 
        <%= link_to 'Delete', tweet_path(@tweet), method: :delete, data: { confirm: 'Are you sure?' }, class: 'tweet-action-delete' %>
      <% end %>
    </div>
  </div>

  <h3 class="comments-header">Comments</h3>

  <div class="comments-container">
    <% @tweet.comments.each do |comment| %>
      <div class="comment">
        <strong class="comment-username"><%= comment.user.username %></strong>
        <%= image_tag comment.user.profile_picture.variant(resize: "30x30"), class: 'rounded-avatar' if comment.user.profile_picture.attached? %>
        <p class="comment-content"><%= comment.content %></p>
        <div class="comment-actions">
          <% if comment.user == current_user %>
            <%= button_to 'Delete', tweet_comment_path(@tweet, comment), method: :delete, class: 'comment-action-delete' %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="comment-form-container">
    <%= form_for [@tweet, Comment.new] do |f| %>
      <%= f.text_area :content, placeholder: 'Add a comment...', class: 'comment-textarea' %>
      <%= f.submit 'Post Comment', class: 'comment-submit' %>
    <% end %>
  </div>

  <div class="back-link-container">
    <%= link_to 'Back', tweets_path, class: 'back-link' %>
  </div>

</div>

